* {
    margin : 0 auto;
    padding: 0;
}

body {
    position: relative;
    width: 1440px;
    height: 1024px;
}

.loginBox{
    border-radius: 0px;
    position: absolute;
    width: 480px;
    height: 481px;
    left: 480px;
    top: 251px;
    background: #7B5C94;
}

.userName{
    height: 129px;
    width: 416px;
    left: 512px;
    top: 289px;
    border-radius: 0px;
    margin-top:38px;
}

.usernameBox{
    height: 86px;
    width: 416px;
    left: 512px;
    top: 332px;
    border-radius: 0px;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-top: 10px;
    background: #FFFFFF;
}

.passWord{
    height: 129px;
    width: 416px;
    left: 512px;
    top: 448px;
    border-radius: 0px;
    margin-top:30px;
}

.passwordBox{
    height: 86px;
    width: 416px;
    left: 512px;
    top: 491px;
    border-radius: 0px;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-top:10px;
    background: #FFFFFF;
}

.loginButton{
    height: 59px;
    width: 160px;
    left: 632px;
    top: 629px;
    border-radius: 0px;
    margin-top: 52px;
    background: #FFFFFF;
}

.loginText{
    left: 0%;
    right: -7.46%;
    top: 0%;
    bottom: -2.08%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    margin-left: 21px;
    margin-right: 10px;
    line-height: 49px;
    text-decoration: none;
    color: #7B5C94;
    background-color:white;
    border: 0px;
}

.usernameText{
    width: 167px;
    height: 39px;
    left: 512px;
    top: 289px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    margin-left:10px;
    line-height: 39px;
    color: #FFFFFF;
}

.passwordText{
    width: 155px;
    height: 39px;
    left: 512px;
    top: 448px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    margin-left:10px;
    line-height: 39px;
    color: #FFFFFF;
}

.usernametextBox{
    background-color:white;
    border: 0px;
    height: 86px;
    width: 416px;
}

.passwordtextBox{
    background-color:white;
    border: 0px;
    height: 86px;
    width: 416px;
}



