@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat/static/Montserrat-Regular.ttf)
}
#container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
#talent{
    grid-column: 1/7;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.picture1{
    object-fit: cover;
    object-position: 100% 35%;
    height: 300px;
    width: 300px;
    margin-left: 30px;
}
.picture2{
    object-fit: cover;
    height: 300px;
    width: 300px;
    margin-right: 30px;
}
.picture3{
    object-fit: cover;
    height: 310px;
    width: 300px;
    margin-left: 30px;
}
.information{
    width: 1000px;
    background-color: #D9D9D9;
    margin-left: 50px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
}
.information2{
    width: 1000px;
    background-color: #D9D9D9;
    margin-right: 50px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}
.description{
    width: 60%;
}
.specialty{
    width: 40%;
    font-size: 24px;
    word-spacing: 20px;
    font-weight: 500;
    font-family: Montserrat;
}
.button{
    height: 50px;
    background-color: #7B5C94;
    color: white;
    font-family: Montserrat;
    font-weight: bold;
    word-spacing: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-right: 30px;
    margin-left: 30px;
}
h1{
    margin-left: 30px;
    font-weight: 600;
    font-family: Montserrat;
}
p{
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 500;
    font-family: Montserrat;
}