body{
    color: black;
}

#container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

section{
    grid-column: 1/10;
    background-color: #D9D9D9;
    margin: 40px 30px;
    height: 661px;
}

#partyimg{
    grid-column: 10/16;
    margin-top: 40px;
}

section > div > h1{
    font-size: 64px;
    margin: 0;
}

#textcontent{
    padding: 10px;
}

.textsettings{
    font-size: 36px;
    
}

section > div > img{
    width: 700px;
    height: 70px;
    margin-left: 10px;
}

.buttonplace{
    display: flex;
    justify-content: center;
    align-items: center;
}

section > div > div > button{
    background-color: #7B5C94;
    color: white;
    border: none;
    width: 189px;
    height: 58px;
    font-size: 36px;
    font-family: Arial, serif;
    margin-top: 15px;
}