@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0px;
}
#gridContainer{
    display: grid;
    grid-template-columns: repeat(1fr, 12);
}
header{
    grid-column: 1/13;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 10px #888888;
    width: 100%;
    height: 100px;
}
header>img{
    height: 100px;
    width: auto;
}
ul{
    list-style: none;
    display: flex;
    width: 800px;
    justify-content: space-around;
}
ul>li>a{
    text-decoration: none;
    color: RGBA(161, 119, 193, 1);
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
#mainBody{
    height: 600px;
    display: flex;
    grid-column: 1/13;
    justify-content: space-evenly;
    align-items: center;
}
#eventPicture{
    height: 400px;
    width: auto;
}
#eventInf{
    height: 450px;
    width: 750px;
    background-color: RGBA(217, 217, 217, 1);
    padding: 10px;
}
.shapes{
    height: auto;
    width: 40px;
}
h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.anchor{
    font-size: 30px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: black;
    margin-left: 5px;
}
p{
    line-height: 150%;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
#shapes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.shapesTextBox{
    display: flex;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
}