*{
    margin: 0%;
}


#container{
    grid-template-columns: repeat(12,1fr);
    display: grid;
    font-family: Montserrat;
}

#header{
    grid-column: 1/13;
    background-color: mediumslateblue;
    height: 50px;
    padding: 10px;
}

#mainContainer{
    grid-column: 3/11;
    padding: 10px;
    margin-top: 20px;
    background-color: #D9D9D9;
}
select{
    font-family: Montserrat;
    border: darkgray solid 2px;
    padding: 10px 0px 10px 5px;
    margin: 10px;
}
#fName, #lName{
    width: 48%;
    margin: 10px 5px 10px 0px;
    font-family: Montserrat;
    border: darkgray solid 2px;
    padding: 10px 0px 10px 5px;
}
#email, #phoneNr{
    width: 48%;
    margin: 10px 5px 10px 0px;
    font-family: Montserrat;
    border: darkgray solid 2px;
    padding: 10px 0px 10px 5px;
}

textarea{
    width: 96.7%;
    height: 100px;
    font-family: Montserrat;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    border: darkgray solid 2px;
    padding: 10px;
}

input[type="submit"], input[type="file"]{
    font-family: Montserrat;

}

#fileUpload{
    width: 95.5%;
    height: 100px;
    border: darkgray solid 2px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: white;
}

input[type="date"]{
    margin: 10px
}